{% extends 'base.html.twig' %}
{% block styles %}
    <link type="text/css" rel="stylesheet" href="css/iris-apk-style.css">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="js/4eyesdoc.1.0.0.min.js"></script>
    <script type="text/javascript" src="js/default.js"></script>
{% endblock %}
{% block container %}
    <form method="post" role="form" class="form-horizontal">
        <div class="col-sm-6">
            <div class="form-group {{ errors.username ? 'has-error' : '' }}">
                <label class="control-label col-sm-3" for="username">Korisničko ime:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" value="{{ username }}" disabled="disabled">
                </div>
                {% if errors.username %}
                    <span class="field-message text-danger">{{ errors.username|first }}</span>
                {% endif %}
            </div>
            <div class="form-group {{ errors.oldPassword ? 'has-error' : '' }}">
                <label class="control-label col-sm-3" for="old-password">Stara lozinka:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="old-password" name="oldPassword">
                    {% if errors.oldPassword %}
                        <span class="field-message text-danger">{{ errors.oldPassword|first }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {{ errors.newPassword ? 'has-error' : '' }}">
                <label class="control-label col-sm-3" for="new-password">Nova lozinka:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="new-password" name="newPassword">
                    {% if errors.newPassword %}
                        <span class="field-message text-danger">{{ errors.newPassword|first }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary small-btn">sačuvaj</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}