<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title"><i class="fas fa-user-md fa-icon"></i> Izmena termina pregleda</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    {% include 'partial/flash.html.twig' %}
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="cardboard">Pacijent:</label>
                            <div class="col-sm-9">
                                <select class="form-control selectpicker" title="---" id="patient" disabled="disabled">
                                    {% if patients is not empty %}
                                        {% for patient in patients %}
                                            {% if patient.id == appointmentData.patient_id %}
                                                <option value="{{ patient.id }}" selected="selected">
                                                    {{ patient.dial_number.dial_number ~ patient.phone_number ~ ' - ' ~ patient.name ~ ' ' ~ patient.surname }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group {{ errors.examination ? 'has-error' : '' }}">
                            <label class="control-label col-sm-3" for="examination">
                                <span class="required-field">*</span> Naziv pregleda:
                            </label>
                            <div class="col-sm-7">
                                <select class="form-control selectpicker" title="---" id="examination" data-live-search="true" data-size="5">
                                    {% if examinations is not empty %}
                                        {% for examination in examinations %}
                                            <option value="{{ examination.medical_examination.id }}" {{ appointmentData.medical_examination_id == examination.medical_examination.id ? 'selected' : '' }} data-price="{{ examination.price }}" data-description="{{ examination.medical_examination.description }}">
                                                {{ examination.medical_examination.name }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                {% if errors.examination is not null %}
                                    <span class="field-message text-danger">{{ errors.examination | first }}</span>
                                {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <button id="show-exam-details" class="btn btn-info collapsed" data-toggle="collapse" data-target="#examination-details-container">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </div>
                        </div>
                        <div id="examination-details-container" class="form-group panel-collapse collapse out">
                            <div class="col-sm-12">
                                <div id="examination-details" class="well">Molimo Vas izaberite pregled!</div>
                            </div>
                        </div>
                        <div class="form-group {{ errors.doctor ? 'has-error' : '' }}">
                            <label class="control-label col-sm-3" for="doctor">
                                <span class="required-field">*</span> Izabrani lekar:
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control selectpicker" title="---" id="doctor" data-live-search="true" data-size="5">
                                    {% if doctors is not empty %}
                                        {% for doctor in doctors %}
                                            <option value="{{ doctor.id }}" {{ appointmentData.doctor_id == doctor.id ? 'selected' : '' }}>
                                                {{ doctor.title ~ ' ' ~ doctor.name ~ ' ' ~ doctor.surname }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                {% if errors.doctor is not null %}
                                    <span class="field-message text-danger">{{ errors.doctor | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group {{ errors.startDateTime ? 'has-error' : '' }}">
                            <label class="control-label col-sm-3" for="start-date-time">Period:</label>
                            <div class="col-sm-4">
                                <input type="text" id="start-date-time" class="form-control text-center datepicker" value="{{ appointmentData.start_date_time | date('d.m.Y H:i') }}" disabled="disabled">
                            </div>
                            <div class="col-sm-1 text-center"></div>
                            <div class="col-sm-4">
                                <input type="text" id="end-date-time" class="form-control text-center datepicker" value="{{ appointmentData.end_date_time | date('d.m.Y H:i') }}" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group {{ errors.examinationStatus ? 'has-error' : '' }}">
                            <label class="control-label col-sm-3" for="examination-status">
                                <span class="required-field">*</span> Status pregleda:
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control selectpicker" title="---" id="examination-status" data-live-search="true" data-size="5">
                                    {% if examinationStatuses is not empty %}
                                        {% for examinationStatus in examinationStatuses %}
                                            <option value="{{ examinationStatus.id }}" {{ appointmentData.examination_status_id == examinationStatus.id ? 'selected' : '' }} {{ examinationStatus.visible ? '' : 'disabled' }}>
                                                {{ examinationStatus.name }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                {% if errors.examinationStatus is not null %}
                                    <span class="field-message text-danger">{{ errors.examinationStatus | first }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="btn-group">
                                    <button id="save-changes" class="btn btn-primary small-btn">
                                        sačuvaj izmenu
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>