{% extends 'base.html.twig' %}
{% block styles %}
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/iris-apk-style.css">
    <link type="text/css" rel="stylesheet" href="css/patient-register.css">
{% endblock %}
{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="js/4eyesdoc.1.0.0.min.js"></script>
    <script src="js/data-table.js"></script>
    <script src="js/patient-register.js"></script>
{% endblock %}
{% block container %}
    <table id="patients-table" class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th class="text-center">R. Br.</th>
                <th class="text-center">Ime</th>
                <th class="text-center">Prezime</th>
                <th class="text-center">Pol</th>
                <th class="text-center">Godina</th>
                <th class="text-center">Mejl adresa</th>
                <th class="text-center">Telefon</th>
                <th class="text-center">Izmenjeno</th>
                <th class="text-center">Izmenio</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
        {% if patients is not empty %}
            {% for patient in patients %}
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center">{{ patient.name }}</td>
                    <td class="text-center">{{ patient.surname }}</td>
                    <td class="text-center">{{ patient.sex_id == 0 ? 'M' : 'Ž' }}</td>
                    <td class="text-center">{{ patient.date_of_birth|age }}</td>
                    <td class="text-center">
                        <a href="mailto:{{ patient.email }}" title="pošalji mail">{{ patient.email }}</a>
                    </td>
                    <td class="text-center">{{ patient.dial_number.dial_number ~ patient.phone_number }}</td>
                    <td class="text-center">{{ patient.updated_at }}</td>
                    <td class="text-center">{{ patient.updated_by.username }}</td>
                    <td class="text-center">
                        <a href="{{ path_for('patient.edit', {'id' : patient.id}) }}" title="karton pacijenta" class="btn btn-xs btn-primary">
                            prikaži karton
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <fieldset>
        <legend>Eksport svih rezultata</legend>
        <a href="{{ path_for('excel.patients') }}" title="Eksport svih rezultata">
            <img src="media/icons/xls-icon.png" alt="xls-icon"/>
        </a>
    </fieldset>
{% endblock %}